<div class="col-md-12 " id="query-container">
	<div class="col-md-3 col-lg-2 martop-10 ">
		<div style="overflow: hidden;">
			<button class="btn btn-sm btn-demo btn-outline btn-rounded dib" ng-click="add()">新建</button>
			<button class="btn btn-sm btn-demo btn-outline btn-rounded dib pull-right" ng-click="searchQuery(searchName)">搜索</button>
			<input type="text" class="form-control input-sm dib pull-right input-style1" id="searchQuery" value="" placeholder="请输入搜索内容" ng-model="searchName" style="margin-right: 10px;width: 48%;    min-width: 100px;" />
		</div>
		<ul class="list-group martop-10 " style="display: block;" id="queryList">
			<li ng-repeat="queryName in queryList" class="list-group-item " data-nodeid="{{queryName.id}}" data-nodename="{{queryName.name}}" ng-click="queryItem(queryName,$event)">
				<span class="fa fa-tags"></span> &nbsp;
				<span>{{queryName.name}}</span>
				<span class="list-group-delete fa fa-trash"></span>
			</li>
		</ul>

	</div>
	<div class=" col-md-9 col-lg-10 martop-10" id="query-right">
		<button class="btn btn-sm btn-demo btn-outline btn-rounded dib" ng-click="execute()">执行</button>
		<span class="dib"> DataSource：</span>
		<!--按钮式下拉框-->
		<div class="btn-group">
			<button type="button" class="btn btn-sm btn-demo btn-outline btn-rounded dib dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    	{{groupName}} <span class="caret"></span>
	  		</button>
			<ul class="dropdown-menu">
				<li ng-repeat="clusterName in clusterList">
					<a ng-click="groupClick(clusterName.cluster_name,clusterName.cluster_id)">{{clusterName.cluster_name}}</a>
				</li>
			</ul>
		</div>
		<button class="btn btn-sm btn-demo btn-outline btn-rounded dib pull-right" style="margin-left: 20px;" ng-click="save(query)">保存</button>
		<input type="text" class="form-control input-sm dib pull-right input-style1" id="queryName" value="" placeholder="请输入Query名" ng-model="query.name" style="width: 250px;" />
		<span class="dib pull-right"> Query名：</span>
		<textarea ng-init="textInput()" id="code" name="code" ng-model="codes">
			
		</textarea>
		<div class="martop-15">
			<span class="dib">结果：</span>
			<button class="btn btn-sm btn-demo btn-outline btn-rounded dib pull-right">下载</button>
		</div>
		<div ng-hide="loading" class="loading-img" ><img src="assets/img/loading.gif" style="height: 22px;"/>&nbsp;<span>疯狂加载中,稍等片刻...</span></div>
		<div ng-hide="noExecute" class="loading-img"><span>当前未执行任何查询项目,暂无结果!</span></div>		
		<div ng-hide="failExecute" class="loading-img"><span>查询结果失败,请检查语句或稍后重试!</span></div>	
		<!--执行结果的表格-->
		<div style="overflow-x:auto ;" ng-hide="hideTable">
			<table class="table color-table table-bordered table-center" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th ng-repeat="th in theadNames" ng-bind="th"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="contents in lists">
						<td ng-repeat="th in theadNames" ng-bind="contents[th]"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!--<nav class="dataTables_paginate paging_full_numbers text-center" ng-hide="hideTable">
			<ul class="pagination" id="indexTable_paginate">
				<li>
					<a href="" class="paginate_button" tabindex="0" ng-click="execute()">&laquo;</a>
				</li>
				<li>
					<a href="" class="paginate_button" tabindex="0" ng-click="execute(pageParams.pagePrev)">&lsaquo;</a>
				</li>
				<li ng-repeat="page in pageParams.pageArray" class="{{ pageParams.pageNum == page?'active':''}}">
					<a href="" class="first paginate_button paginate_button" tabindex="0" ng-click="execute(page)" ng-bind="page"></a>
				</li>
				<li>
					<a href="" class="paginate_button" tabindex="0" ng-click="execute(pageParams.pageNext)">&rsaquo;</a>
				</li>
				<li>
					<a href="" class="paginate_button" tabindex="0" ng-click="execute(pageParams.pages)">&raquo;</a>
				</li>
			</ul>
		</nav>-->
	</div>
</div>