<div class="row" ng-cloak>
	<div class="col-lg-12 col-md-12 map-weibo content-panel" id="map1"></div>
	<!--<canvas id="canvas"></canvas>-->
	<div id="time"></div>

	<div class="wrap content-panel">

		<ul class="tabs group">
			<li>
				<a class="active" href="#/weibo1">top100类型百分比</a>
			</li>
			<li>
				<a href="#/weibo2">各省POI数值</a>
			</li>
		</ul>

		<div id="content">
			<p id="weibo1" class="echarts-1"></p>

			<p id="weibo2" class="echarts-1"></p>
		</div>

	</div>
	<!--双标签页结束-->

	<div class="content-panel query-1-2">

		<div id="weibo3" class="echarts-1"></div>
	</div>

</div>
<!--/row -->

<!--page2 -->
<div class="row">

	<div class="content-panel query-2-2">
		<span class="panel-title"><img class="link-icon" src="assets/img/link-icon.png"></img>重点城市数据分析</span>
		<div id="weibo4" class="echarts-1"></div>
	</div>

	<div class="content-panel query-2-2">
		<span class="panel-title"><img class="link-icon" src="assets/img/link-icon.png"></img>各省份分析</span>

		<div id="province">
			<button type="button" ng-click="getWeiboDataProvince('aomen')" class="btn btn-default">澳门</button>
			<button type="button" ng-click="getWeiboDataProvince('hainan')" class="btn btn-default">海南</button>
			<button type="button" ng-click="getWeiboDataProvince('xizang')" class="btn btn-default">西藏</button>
			<button type="button" ng-click="getWeiboDataProvince('ninxia')" class="btn btn-default">宁夏</button>
			<button type="button" ng-click="getWeiboDataProvince('qinhai')" class="btn btn-default">青海</button>
			<button type="button" ng-click="getWeiboDataProvince2('xianggang')" class="btn btn-default">香港</button>
			<button type="button" ng-click="getWeiboDataProvince('taiwan')" class="btn btn-default">台湾</button>
			<button type="button" ng-click="getWeiboDataProvince('guangxi')" class="btn btn-default">广西</button>
			<button type="button" ng-click="getWeiboDataProvince2('tianjin')" class="btn btn-default">天津</button>
			<button type="button" ng-click="getWeiboDataProvince('gansu')" class="btn btn-default">甘肃</button>
			<button type="button" ng-click="getWeiboDataProvince('chongqin')" class="btn btn-default">重庆</button>
			<button type="button" ng-click="getWeiboDataProvince('guizhou')" class="btn btn-default">贵州</button>
			<button type="button" ng-click="getWeiboDataProvince('shanxi')" class="btn btn-default">山西</button>
			<button type="button" ng-click="getWeiboDataProvince('xinjiang')" class="btn btn-default">新疆</button>
			<button type="button" ng-click="getWeiboDataProvince('shanxier')" class="btn btn-default">陕西</button>
			<button type="button" ng-click="getWeiboDataProvince('jilin')" class="btn btn-default">吉林</button>
			<button type="button" ng-click="getWeiboDataProvince2('jiangxi')" class="btn btn-default">江西</button>
			<button type="button" ng-click="getWeiboDataProvince2('hunan')" class="btn btn-default">湖南</button>
			<button type="button" ng-click="getWeiboDataProvince('heilongjiang')" class="btn btn-default">黑龙江</button>
			<button type="button" ng-click="getWeiboDataProvince('neimengu')" class="btn btn-default">内蒙古</button>
			<button type="button" ng-click="getWeiboDataProvince('hubei')" class="btn btn-default">湖北</button>
			<button type="button" ng-click="getWeiboDataProvince('yunnan')" class="btn btn-default">云南</button>
			<button type="button" ng-click="getWeiboDataProvince('fujian')" class="btn btn-default">福建</button>
			<button type="button" ng-click="getWeiboDataProvince2('shanghai')" class="btn btn-default">上海</button>
			<button type="button" ng-click="getWeiboDataProvince2('anhui')" class="btn btn-default">安徽</button>
			<button type="button" ng-click="getWeiboDataProvince2('beijin')" class="btn btn-default">北京</button>
			<button type="button" ng-click="getWeiboDataProvince2('hebei')" class="btn btn-default">河北</button>
			<button type="button" ng-click="getWeiboDataProvince2('henan')" class="btn btn-default">河南</button>
			<button type="button" ng-click="getWeiboDataProvince2('sichuan')" class="btn btn-default">四川</button>
			<button type="button" ng-click="getWeiboDataProvince2('zhejiang')" class="btn btn-default">浙江</button>
			<button type="button" ng-click="getWeiboDataProvince2('liaonin')" class="btn btn-default">辽宁</button>
			<button type="button" ng-click="getWeiboDataProvince2('shandong')" class="btn btn-default">山东</button>
			<button type="button" ng-click="getWeiboDataProvince2('jiangsu')" class="btn btn-default">江苏</button>
			<button type="button" ng-click="getWeiboDataProvince2('guangdong')" class="btn btn-default">广东</button>
		</div>
		<div class="tab-content echarts-1" id="weibo5"></div>
	</div>
</div>

<div class="row">

	<!--微博词云图-->
	<div class="content-panel query-2-1">
		<span class="panel-title">
		<div id="weibo6" class="echarts-1"></div></span>
	</div>

	<!--各省信息-->
	<div class="content-panel query-2-2">
		<span class="panel-title">
		<div id="weibo7" class="echarts-1"></div></span>
	</div>
</div>
<!--row-->